<div *ngIf="column" class="editor" fxLayout="row wrap" fxLayoutGap="20px">

	<div fxFlex.gt-md="15" fxFlex.md="50" fxFlex.lt-md="100" fxFlexOrder.gt-md="1" fxFlexOrder.lt-lg="1">

		<mat-form-field>
			<mat-select [(ngModel)]="selectedWaveType" placeholder="Wave Type" name="wave-type">
				<mat-option *ngFor="let t of waveTypes" [value]="t">{{ t }}</mat-option>
			</mat-select>
		</mat-form-field>

		<button mat-raised-button (click)="onAddWave()">Add Wave</button>

	</div>

	<div fxFlex.gt-md="70" fxFlex.md="100" fxFlex.lt-md="100" fxFlexOrder.gt-md="2" fxFlexOrder.lt-lg="3">
		<div fxLayout.gt-md="row wrap" fxLayout.lt-lg="column" fxLayoutWrap.gt-md fxLayoutGap="20px">
			<div *ngFor="let wave of column.waves" fxFlex.gt-md="0 0 calc(33.33% - 20px)" fxFlex.lt-lg="100" [ngClass.gt-md]="{'column-gap':true}">
				<app-wave [wave]="wave"></app-wave>
			</div>
		</div>
	</div>

	<div fxFlex.gt-md="15" fxFlex.md="50" fxFlex.lt-md="100" fxFlexOrder.gt-md="3" fxFlexOrder.lt-lg="2">

	</div>

</div>
