footer {
	color: white;
	background-color:#303f9f;
	min-height: 20vh;
}

.content-1 {
	background-color:lighten(#303f9f, 50%);
}

.content-2 {
	background-color:lighten(#303f9f, 40%);
}

.content-3 {
	background-color:lighten(#303f9f, 50%);
}
