<div class="app" fxLayout='column' fxLayoutGap="20px">
	<header class="header-content">
		<mat-toolbar class="header mat-elevation-z4" color="primary"><span class="title">{{ title }}</span></mat-toolbar>
	</header>

	<main class="main-content" fxFlex='1 0 1' fxLayout="row" fxLayoutGap="20px">
		<div class="content-1" fxFlex.gt-md="15" fxFlex.md="50" fxFlex.lt-md="100" fxFlexOrder.gt-md="1" fxFlexOrder.lt-lg="1">
			<app-pattern-editor></app-pattern-editor>
		</div>

		<div class="content-2" fxFlex.gt-md="70" fxFlex.md="100" fxFlex.lt-md="100" fxFlexOrder.gt-md="2" fxFlexOrder.lt-lg="3">

		</div>

		<div class="content-3" fxFlex.gt-md="15" fxFlex.md="50" fxFlex.lt-md="100" fxFlexOrder.gt-md="3" fxFlexOrder.lt-lg="2">

		</div>
	</main>

	<footer>
		<div class="footer-content container">
			<span>Created by {{ author }}</span>
		</div>
	</footer>
</div>

